<% content_for(:html_title) { 'Авторизація' } %>

<div class="form-signin">
  <%= form_with url: login_path, method: :post, data: {turbo: false} do |form| %>
    <%= csrf_meta_tags %>

    <h1 class="h3 mb-3 fw-normal">Вхід</h1>

    <div class="form-floating">
      <%= email_field_tag :email, params[:email], required: true, class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
      <label for="floatingInput">Почта</label>
    </div>
    <div class="form-floating">
      <%= password_field_tag :password, nil, required: true, class: 'form-control', id: 'floatingPassword', placeholder: 'Password' %>
      <label for="floatingPassword">Пароль</label>
    </div>
    <%= submit_tag "Увійти", class: 'w-100 btn btn-lg btn-primary' %>
    <br><br>
    <%= link_to "Повернутися", '/' %>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
  <% end %>
  <% if @error %>
    <div class="alert alert-danger">
      <%= @error %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash.now[:alert] %>
    </div>
  <% end %>
</div>