<div class="form-signin">
  <form action="/login" method="post">
    <%= csrf_meta_tags %>

    <h1 class="h3 mb-3 fw-normal">Вхід</h1>

    <div class="form-floating">
      <%= email_field_tag :email, params[:email], required: true, class: 'form-control', id: 'floatingInput', placeholder: 'name@example.com' %>
      <label for="floatingInput">Почта</label>
    </div>
    <div class="form-floating">
      <%= password_field_tag :password, nil, required: true, class: 'form-control', id: 'floatingPassword', placeholder: 'Password' %>
      <label for="floatingPassword">Пароль</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запам'ятати вас?
      </label>
    </div>
    <%= submit_tag "Увійти", class: 'w-100 btn btn-lg btn-primary' %>
    <br><br>
    <%= link_to "Повернутися", :back %>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
  </form>
</div>