<% content_for(:html_title) { 'Main page' } %>

<div class="container">
  <h1>Food Delivery</h1>
  <% if current_user %>
    <p>You are logged in as <%= current_user.name %>.</p>
    <h3>Restaurants</h3>
    <% if current_user.is_admin %>
      <%= link_to 'New restaurant', new_restaurant_path, class: 'btn btn-primary' %>
    <% end %>
    <br><br>
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-md-3">
          <div class="card" style="margin-bottom: 30px;" style="width: 18rem;">
            <% if restaurant.image.attached? %> 
              <%= image_tag restaurant.image, class: 'card-img-top' %>
            <% end %>
            <div class="card-body">
              <h5><%= restaurant.name %></h5>
              <p class="card-text"><%= restaurant.description %></p>
              <%= link_to 'Watch products', restaurant_path(restaurant), class: 'btn btn-primary' %>
              <% if current_user.is_admin %>
                <%= link_to 'Edit', edit_restaurant_path(restaurant), class: 'btn btn-info' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= link_to "Log in", login_path %> or <%= link_to "Sign up", signup_path %>
  <% end %>
</div>
