<% content_for(:html_title) { 'Main page' } %>

  <% if current_user %>
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Food Delivery</h1>
          <p class="lead text-body-secondary">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.</p>
          <!-- <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
        </div>
      </div>
    </section>  
    </div>
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
    <div class="text-center">
      <h3>Ресторани</h3>
      <% if current_user.is_admin %>
        <%= link_to 'Додати новий', new_restaurant_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <br><br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      <% @restaurants.each do |restaurant| %>
        <div class="col">
          <div class="card shadow-sm">
            <% if restaurant.image.attached? %> 
              <%= image_tag restaurant.image.variant(resize_to_fill: [500, 350]).processed, class: 'card-img-top' %>
            <% end %>
            <div class="card-body">
              <h5><%= restaurant.name %></h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Товари', restaurant_path(restaurant), class: 'btn btn-sm btn-outline-primary' %>
                  <% if current_user.is_admin %>
                    <%= link_to 'Редагувати', edit_restaurant_path(restaurant), class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      </div>
      <br>
    </div>
  <% else %>
    <header class="site-header py-1">
      <h1 style="text-align: center;">Food Delivery</h1>
    </header>

    <main>
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary intro-banner" style="background-image: url(<%= asset_path('banner.jpg') %>
      )">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h3 class="display-5">Fast Food Delivery</h3>
          <p class="lead fw-normal">Спробуй зараз</p>
          <%= link_to "Увійти", login_path, class: "btn btn-outline-light" %>
          <%= link_to "Зареєструватися", signup_path, class: "btn btn-outline-light" %>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
      <div class="container">
        <div class="about-us">
          <h3>Про нас</h3>
          <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.</p>
        </div>
      </div>
    </main>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
          <small class="d-block mb-3 text-body-secondary">&copy; 2017–2023</small>
        </div>
        <div class="col-6 col-md">
          <h5>Корисні посилання</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Про нас</a></li>
            <li><a class="link-secondary" href="#">Часті запитання</a></li>
            <li><a class="link-secondary" href="#">Блог</a></li>
            <li><a class="link-secondary" href="#">Контакти</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Соц. мережі</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Facebook</a></li>
            <li><a class="link-secondary" href="#">Twitter</a></li>
            <li><a class="link-secondary" href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Співпраця</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Вакансії</a></li>
            <li><a class="link-secondary" href="#">Кур'єри</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Інше</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Правила й умови</a></li>
            <li><a class="link-secondary" href="#">Політика конфіденційності</a></li>
            <li><a class="link-secondary" href="#">Політика файлів cookie</a></li>
          </ul>
        </div>
      </div>
    </footer>
  <% end %>
