<% content_for(:html_title) { 'Додати ресторан' } %>

<div class="container">
  <h1>Додати новий ресторан</h1>
  <%= form_with(model: @restaurant, local: true) do |r| %>
    <div class="mb-3">
      <%= r.label 'Назва', class: 'form-label' %>
      <%= r.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= r.label 'Картинка' %>
      <%= r.file_field :image %>
    </div>
    
    <div class="mb-3">
      <%= r.label 'Адреса', class: 'form-label' %>
      <%= r.text_field :address, class: 'form-control' %>
    </div>
  
    <div class="mb-3">
      <%= r.label 'Опис', class: 'form-label' %>
      <%= r.text_area :description, class: 'form-control' %>
    </div>
  
    <%= r.submit "Зберегти", class: 'btn btn-primary' %>
  <% end %>
</div>
