<% content_for(:html_title) { 'Edit product' } %>

<div class="container">
  <h1>Edit product</h1>
  <%= link_to "Delete restaurant", restaurant_destroy_path(@restaurant), method: :get, data: { confirm: 'Вы уверены, что хотите удалить этот ресторан?' }, class: "btn btn-danger" %><br><br>
  <%= form_with(model: [@restaurant, @product], local: true) do |p| %>
    <div class="mb-3">
      <%= p.label :name, class: 'form-label' %>
      <%= p.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= p.label :image %>
      <%= p.file_field :image %>
    </div>
    
    <div class="mb-3">
      <%= p.label :price, class: 'form-label' %>
      <%= p.text_field :price, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
      <%= p.label :quantity, class: 'form-label' %>
      <%= p.text_field :quantity, class: 'form-control' %>
    </div>
  
    <div class="mb-3">
      <%= p.label :description, class: 'form-label' %>
      <%= p.text_area :description, class: 'form-control' %>
    </div>
  
    <%= p.submit "Save", class: 'btn btn-primary' %>
  <% end %>
</div>
