<% content_for(:html_title) { 'Редагувати продукт' } %>

<div class="container">
  <h1>Редагувати продукт</h1>
  <%= link_to "Видалити продукт", product_path(@product), method: :delete, data: { confirm: 'Ви впевнені, що хочете видалити цей продукт?' }, class: "btn btn-danger" %><br><br>
  <%= form_with(model: [@restaurant, @product], local: true) do |p| %>
    <div class="mb-3">
      <%= p.label 'Назва', class: 'form-label' %>
      <%= p.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= p.label 'Картинка' %>
      <%= p.file_field :image %>
    </div>
    
    <div class="mb-3">
      <%= p.label 'Ціна', class: 'form-label' %>
      <%= p.text_field :price, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
      <%= p.label 'Кількість', class: 'form-label' %>
      <%= p.text_field :quantity, class: 'form-control' %>
    </div>
  
    <div class="mb-3">
      <%= p.label 'Опис', class: 'form-label' %>
      <%= p.text_area :description, class: 'form-control' %>
    </div>
  
    <%= p.submit "Зберегти", class: 'btn btn-primary' %>
  <% end %>
</div>
