<% content_for(:html_title) { 'Добавити продукт' } %>

<div class="container">
  <h1>Створити новий продукт</h1>
  <%= form_with(model: [@restaurant, @product], local: true) do |p| %>
    <div class="mb-3">
      <%= p.label 'Назва', class: 'form-label' %>
      <%= p.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= p.label 'Картинка' %>
      <%= p.file_field :image %>
    </div>
    
    <div class="mb-3">
      <%= p.label 'Ціна', class: 'form-label' %>
      <%= p.number_field :price, class: 'form-control' %>
    </div>
  
    <div class="mb-3">
      <%= p.label 'Опис', class: 'form-label' %>
      <%= p.text_area :description, class: 'form-control' %>
    </div>
  
    <%= p.submit 'Створити', class: 'btn btn-primary' %>
  <% end %>
</div>
