<% content_for(:html_title) { @product.name } %>

<div class="container">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.address %></p>
  <%= link_to "Back", home_index_path %>

  <h3><%= @product.name %></h3>
  <div class="product">
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
    <p><strong>Цена:</strong> <%= @product.price %></p>
  </div>
</div>